
<div id="currentNews" ng-controller="currentCtrl" style="background-color: white; white-space: nowrap; height: 500px; overflow-y: scroll;">
<ul class="table">
	<li>
		<div style="width: 50%; display: inline-block;">
			<img src="img/casualPic.jpg" style="height: 100%; overflow: hidden;">
		</div>
		<div style="width: 50%; display: inline-block;">
			<h2>Moonman</h2>
			<p>Moonman is a complete finance organization tool made to help anybody perdict exactly what their finances might look like within a year or two or five or 15. Although currently a Salary version is the one in development at the moment a hourly version is scheduled to come soon after.</p>
		</div>
	</li>	
</ul>

</div>